<div data-bind="visible: canVisibleBlock">
    <div class="payment-option opc-payment-additional">
        <div class="payment-option-content" data-role="content">
            <div class="payment-option-inner">
                <div class="field">
                    <label class="label" for="custom_field">
                        <span data-bind="i18n: 'Enter Sales Recommendation'"></span>
                    </label>
                    <div class="control">
                        <textarea class="input-text" id="custom_field" name="custom_field" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>