<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <youtube>
            <configuration>
                <active>1</active>
                <api_key>AIzaSyAkV6FIEnqRIFxhfyynBjMegqPBicci0Ns</api_key>
            </configuration>
        </youtube>
    </default>
</config>