<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <shippingtest>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Kom\ShippingTest\Model\Carrier\Shipping</model>
                <name>Kom Shipping Test Method</name>
                <price>20.00</price>
                <title>Kom Shipping Test Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.
                </specificerrmsg>
                <handling_type>F</handling_type>
            </shippingtest>
        </carriers>
    </default>
</config>