<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <kom_paymenttest>
                <title>Kom Payment</title>
                <model>Kom\PaymentTest\Model\PaymentTest</model>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
            </kom_paymenttest>
        </payment>
    </default>
</config>

